@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Global styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #0e0000;
}

h1 {
	font-size: 3.125rem;
	line-height: 1.5;
	letter-spacing: 1.2px;
}

li,
button,
label,
input,
p {
	font-size: 1rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1rem;
	font-weight: 400;
}

h4,
h5 {
	font-size: 2.8rem;
}

a {
	color: #ffffff;
	text-decoration: none;
}

code {
	font-size: 1.2rem;
	color: #e83e8c;
	word-break: break-word;
}

.btn-flat {
	color: white;
	padding: 0.9375rem 1.875rem;
	border-radius: 4px;
	background: #fd1015;
	transition: background 0.3s ease;
	cursor: pointer;
}

.btn-flat:hover {
	background: #ca0d10;
	color: white;
}

/* Nav section with HERO */

.main-head {
	background-color: #131c27;
	color: white;
	position: sticky;
	top: 0px;
	z-index: 3;
}

nav {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 10vh;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

nav ul {
	list-style: none;
}

#logo {
	font-family: 'Lato', sans-serif;
	height: 3rem;
}

.logo-hero {
	height: 3rem;
	margin-bottom: 2rem;
}

.hero {
	min-height: 90vh;
	background: linear-gradient(rgba(255, 255, 255, 0.2), transparent), url('./img/landing-page.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero p {
	padding: 1rem;
	color: #555555;
	margin-bottom: 2rem;
	font-weight: 300;
}

.highlighted {
	padding: 0 15px 3px;
	font-weight: 700;
	border-radius: 3px;
	color: #fd1015;
	background: #ffe0e1;
}

.mb {
	margin-bottom: 0.2rem;
}

.mb-x {
	margin-bottom: 1.2rem;
}

.how-to {
	min-height: 90vh;
	background: linear-gradient(to right, #fee9ea, #fcf5e8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.how-to-content {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.how-to-content p {
	color: #555555;
	font-weight: 300;
	padding: 0px 33%;
}

.example {
	/* display: flex; */
	/* justify-content: space-between; */
	/* align-items: center;
	width: 40rem; */
	background: white;
}
